@model IEnumerable<BookStoreFinalProje.Models.Kitaplar>

@{
    ViewData["Title"] = "Roman";
}


</style>

<h1 class="text-center" style="font-family: 'Playfair Display', serif; padding:50px"> Romanlar </h1>

<p>
</p>
<form asp-action="Roman" asp-route-altKategoriId="@ViewBag.AltKategoriId" method="get" class="filter-form">
    <div class="row">
        <div class="col-md-4 mb-2">
            <label class="filter-label" style="color: #2f4550;">Türe Göre Filtrele</label>
            @Html.DropDownList("AltKategoriId", ViewBag.AltKategoriId as SelectList, "All Category", htmlAttributes: new { @class = "filter-input" })
        </div>
        <div class="col-md-4 mb-2">
            <label class="filter-label" style="color: #2f4550;">Select by Name:</label>
            @Html.TextBox("SearchString", null, new { @class = "filter-input" })
        </div>
        <div class="col-md-4 d-flex align-items-end">
            <button type="submit" name="actionButton" value="Filter" class="btn btn-primary filter-button" style="background-color: #64a6bd;">Filter</button>
            <a asp-action="Roman" class="btn btn-secondary filter-button" style="background-color: #D3C0B9;">Clear</a>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2 mb-4">
            <div class="card book-card">
                <img src="@Url.Content("~/image/" + item.KitapFoto)" asp-append-version="true" class="card-img-top" alt="Kitap Foto" style="height: 200px; object-fit: cover; border-top-left-radius: 10px; border-top-right-radius: 10px;" />
                <div class="card-body">
                    <h5 class="card-title" style="color: #2f4550;">@Html.DisplayFor(modelItem => item.KitapAdi)</h5>
                    <p class="card-text" style="color: #2f4550;"><strong>Yazar:</strong> @Html.DisplayFor(modelItem => item.YazarAdi)</p>
                    <p class="card-text" style="color: #2f4550;"><strong>Kategori:</strong> @Html.DisplayFor(modelItem => item.AltKategori.AltKategoriAdi)</p>
                    <div class="text-right">
                        <a asp-action="RomanDetails" asp-route-id="@item.KitapId" class="btn btn-info" style="background-color: #64a6bd;color: white;">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
