@model IEnumerable<BookStoreFinalProje.Models.AltKategoriler>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered table-striped" id="tbllist">
        <thead class="bg-dark text-white">
            <th>
                @Html.DisplayNameFor(model => model.AltKategoriAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategori)
            </th>
            <th></th>
        
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AltKategoriAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori.KategoriAdi)
            </td>
            <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.AltKategoriId">Edit</a> |
                        <a class ="btn btn-primary" asp-action="Details" asp-route-id="@item.AltKategoriId">Details</a> |
                        <a class ="btn btn-danger" asp-action="Delete" asp-route-id="@item.AltKategoriId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

    <script>
        $(document).ready(function () {
            $('#tbllist').DataTable();
        });
    </script>
}
