@model BookStoreFinalProje.Models.Kitaplar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kitaplar</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Kitap Adı:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.KitapAdi)</dd>
        <dt class="col-sm-2">Yazar Adı:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.YazarAdi)</dd>
        <dt class="col-sm-2">urun gorseli:</dt>
        <dd class="col-sm-10"><img src="@Url.Content("~/image/" + Model.KitapFoto)" width="150" height="200" </dd>
        <dt class="col-sm-2">Alt Kategori:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AltKategori.AltKategoriAdi)</dd>
        <dt class="col-sm-2">Yayın Tarihi:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.YayinTarihi)</dd>
        <dt class="col-sm-2">Stok Miktarı:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.StokMiktari)</dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.KitapId">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>