@model IEnumerable<BookStoreFinalProje.Models.Kitaplar>

@{
    ViewData["Title"] = "Index";
}

<style>
    

    .filter-sidebar {
        background-color: #FCDAD7;
        border-radius: 10px;
        padding: 20px;
    }

    .filter-label {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .filter-input {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
    }

    .card.custom-card {
        border: none;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        transition: transform 0.3s ease;
    }

    .card.custom-card:hover {
        transform: translateY(-5px);
    }

    .card-header {
        background-color: #F6A4A2;
        padding: 10px;
        color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card-body {
        padding: 20px;
        text-align: center;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .card-content {
        margin-bottom: 20px;
    }

    .card-footer {
        padding: 10px;
        text-align: center;
        background-color: #FCDAD7;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .card-footer a {
        margin: 0 5px;
    }

    .custom-button {
        background-color: #F6A4A2;
        color: #fff;
    }

    .custom-button:hover {
        background-color: #E8857A;
    }
</style>

<h1 class="header-title">Tüm Kitaplar</h1>

<div class="row">
    <div class="col-md-3">
        <div class="filter-sidebar">
            <h4 class="filter-label">Filtreleme</h4>
            <form asp-action="Index" asp-route-altKategoriId="@ViewBag.AltKategoriId" method="get">
                <div class="form-group">
                    <label class="filter-label">Kategori:</label>
                    @Html.DropDownList("AltKategoriId", ViewBag.AltKategoriId as SelectList, "Tüm Kategoriler", htmlAttributes: new { @class = "filter-input" })
                </div>

                <div class="form-group">
                    <label class="filter-label">Kitap Adı:</label>
                    @Html.TextBox("SearchString", null, new { @class = "filter-input" })
                </div>

                <div class="text-right">
                    <button type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary">Filtrele</button>
                    <a asp-action="Index" class="btn btn-outline-dark">Temizle</a>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card custom-card">
                        <div class="card-header">
                            <h5 class="card-title">@item.KitapAdi</h5>
                        </div>
                        <div class="card-body">
                            <img src="@Url.Content("~/image/" + item.KitapFoto)" asp-append-version="true" class="card-img-top" alt="Kitap Foto" />
                            <div class="card-content">
                                <p class="card-text">@item.YazarAdi</p>
                                <p class="card-text">@item.AltKategori.AltKategoriAdi</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("Edit", new { id = item.KitapId })" class="btn btn-primary custom-button">Düzenle</a>
                            <a href="@Url.Action("Details", new { id = item.KitapId })" class="btn btn-info custom-button">Detaylar</a>
                            <a href="@Url.Action("Delete", new { id = item.KitapId })" class="btn btn-danger custom-button">Sil</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
